name: Build and Release

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build for Linux
      run: cargo build --release

    - name: Upload Linux Binary
      uses: actions/upload-artifact@v3
      with:
        name: apo-optimizer-linux
        path: target/release/apo_bundle_project
