name: Build for Linux
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --release
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: apo-optimizer-linux
          path: target/release/apo_bundle_project
